# Expression Statements

## Echo a number.
 Write a number in the code cell below, then press the run button above. Notice the number is echoed after the line.

In [21]:
4

4

## Addition
 Now write a simple addition statement using the `+` sign and two numbers. Press the run button again to see the result.

In [22]:
2 + 8

10

## Mathematical expressions
 Try writing other mathematical expressions using `-`, `+`, `*`, `/` and `**`. You can group expressions by using parenthesis. You modify the example below or write your own.

In [23]:
(12 + 3**40) * (4 - 0.22)/10000 * (1000 - 100)

4.136037789171167e+18

## Echo a string (word)
 Type the word `"Hello"` with the quotes and press run.

In [24]:
"Hello"

'Hello'

Notice that it is echoed below the cell, just as the numbers above. This will be the case for any expression statement in an interactive enviroment.